.container {
  text-align: center;
}

.container-child {
  background-color: #242423;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0px 20px;
}

.calculator-container {
  height: 450px;
  width: 280px;
  background-color: #cfdbd5;
  border-radius: 20px;
  padding: 20px 20px;
}

.calculator-input {
  width: 100%;
  border: none;
  border-radius: 5px;
  height: 50px;
  font-size: 30px;
  text-align: right;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

.calculator-input:disabled {
  width: 100%;
  border: none;
  border-radius: 5px;
  height: 50px;
  font-size: 30px;
  text-align: right;
  padding: 0;
  background-color: #333533;
  font-family: "Josefin Sans", sans-serif;
}

.calculator-button {
  margin-top: 20px;
}

.calculator-button button {
  cursor: pointer;
  background-color: #333533;
  color: #fff;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  width: 60px;
  height: 50px;
  border: none;
  margin: 0px 5px;
  border-radius: 5px;
}

.calculator-text {
  font-size: 22px;
  color: #333533;
}
