.App {
  text-align: center;
}

.App-header {
  background-color: #242423;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0px 20px;
}

.img {
  max-width: 250px;
}

.section {
  line-height: 1.2;
  -webkit-animation: text-focus-in 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: text-focus-in 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.link {
  color: #f5cb5c;
}

.motivation {
  color: #f5cb5c;
  font-style: italic;
  font-weight: 700;
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 50%;
  background-color: #fff;
  opacity: 0;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
  min-height: 100vh;
  width: 50%;
  background-color: #fff;
  opacity: 0;
}

.btn-action {
  border: none;
  width: 150px;
  height: 30px;
  border-radius: 20px;
  font-size: 20px;
  background-color: #f5cb5c;
  margin: 0px 10px;
}

.btn-action:hover {
  background-color: #cfdbd5;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
